.header {
  grid-area: h;
  background: linear-gradient(to right, #b844ff, #4837ff);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header img {
  height: 100%;
}

.header .loginBlock {
  margin-right: 20px;
}

.header .loginBlock a {
  transition: 0.3s;
  font-weight: 600;
}
.header .loginBlock a:hover {
  color: gold;
}
