.info {
  margin: 1rem 0rem 3rem;
  display: flex;
}

.avatar {
  width: 200px;
  height: 150px;
  margin-right: 10px;
}

p {
  margin: 0 0 3px;
  font-size: 14px;
}

.status {
  margin-bottom: 10px;
  display: block;
}
