.item {
  color: gold;
  display: grid;
  align-items: center;
  grid-gap: 10px;
  grid-template-rows: 1fr;
  grid-template-columns: 100px 200px;
  margin-bottom: 20px;
}

.item .avatarWrap {
  overflow: hidden;
  height: 100px;
  position: relative;
  border-radius: 50px;
}
.item img {
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.item h4 {
  margin: 0 0;
}
.item span {
  margin: 5px 0 10px;
  display: block;
}
.item .like {
  text-align: right;
}
